.unslider{
overflow:auto;
margin:30px 0;
padding:0;
position: relative
}
.unslider-wrap{
position:relative
}
.unslider-wrap.unslider-carousel>li{
float:left
}
.unslider-vertical>ul{
height:100%
}
.unslider-vertical li{
float:none;
width:100%
}
.unslider-fade{
position:relative
}
.unslider-fade .unslider-wrap li{
position:absolute;
left:0;
top:0;
right:0;
z-index:8
}
.unslider-fade .unslider-wrap li.unslider-active{
z-index:10
}
.unslider li,.unslider ol,.unslider ul{
list-style:none;
margin:0;
padding:0;
border:none
}
.unslider-arrow{
	position:absolute;
	z-index:2;
	cursor:pointer;
	background-image: none;
    /* display: inline-block; */
    width: 25px;
    height: 25px;
    border: none;
	transform: rotate(45deg);
    left: 50%;

}
.unslider-arrow.next{
	bottom: 30px;
	border-right: 2px solid #f45a40;
    border-bottom: 2px solid #f45a40;
}
.unslider-arrow.prev {
	top: 7px;
	border-left: 2px solid #f45a40;
	border-top: 2px solid #f45a40;
}
